<%= form_with model: @user, form: "col-lg-6 offset-lg-3", local: true do |f| %>
  <div class ="error-msgs">
    <% if @user.errors.any? %>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <div class ="alert alert-danger" role="alert">
            <li><%= message %></li>
          </div>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-2 text-center">
      <%= f.label :name, class: 'form-check-label text-center' %>
      <%= f.text_field :name, class: "form-control mb-2 mr-sm-2 text-center", id: "exampleInputname", placeholder: "Enter Your Name" %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-2 text-center">
      <%= f.label :email, class: 'form-check-label' %>
      <%= f.text_field :email, class: "form-control mb-2 mr-sm-2 text-center", id: "exampleInputEmail1", placeholder: "Enter email" %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-2 text-center">
      <%= f.label "PASSWORD", class: "form-check-label" %>
      <%= f.text_field :password, class: "form-control mb-2 mr-sm-2 text-center", id: "exampleInputPassword1", placeholder: "Password" %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-2 text-center">
      <%= f.label "PASSWORD CONFIRMATION", class: "form-check-label" %>
      <%= f.text_field :password, class: 'form-control mb-2 mr-sm-2 text-center', id: "exampleInputPassword1", placeholder: "Password Confirmation" %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-2 text-center">
      <%= f.submit 'Register', class: "btn btn-danger" %>
    </div>
  </div>
<% end %>

