<div class="name">
  <p class="text-center">
  <h7>Hello<%= @user.name %></h7>
  </p>
</div>
<section class='parties'>
  <div class='container-fluid bg-dark'>
    <div class='row row-cols-9 g-9'>
      <% @parties.each do |party| %>
        <div class="row-md-5">
          <div class='p-3'>
            <div class='card text-center border-dark' style='width: 22rem;'>
              <div class='card-header'>
                <p>Movie: <%= link_to party.movie, movie_path(party.movie_id)  %></p>
              </div>
              <div class='card-body'>
                <p class='card-text'>
                <img src="https://image.tmdb.org/t/p/w300<%= @movies.find {|movie| movie.id == party.movie_id}.poster  %>" alt="Italian Trulli">
                Date: <%= party.date %> Time: <%= party.start_time %>
              Guests <% party.users.each do |user| %>
              <%= user.name %>
            <% end %>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
